<app-header [invalidLogin]=invalidLogin></app-header>
<section class="container">
    <div class="row m-4">
        <div class="col-lg-4 mt-2">
            <div class="sticky-top">
                <div class="card text-center secondary-shadow mt-2">
                    <div class="card-body">
                        <p class="card-text d-flex flex-column">
                            <button [disabled]="!roleCheck" (click)="showRemedyForm=true"
                                class="btn btn-dark m-1 form-control">Create/Update Remedy</button>
                            <button (click)="listAllRemedy(); showRemedyForm=false"
                                class="btn btn-dark m-1 form-control">List All
                                Remedy</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-2">
            <div class="secondary-shadow bg-light p-4">
                <div class="row align-items-center justify-content-between d-flex flex-sm-column flex-md-row">
                    <div class="col-auto">
                        <h5 class="h2">Remedy</h5>
                    </div>
                    <nav class="navbar navbar-light bg-light">
                        <form (ngSubmit)="search()" class="form-inline">
                            <input [(ngModel)]="query" name="query" class="form-control mr-sm-2" type="search"
                                placeholder="Search for remedies" aria-label="Search for remedies">
                            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                        </form>
                    </nav>
                </div>
                <div *ngIf="!showRemedyForm">
                    <div *ngFor="let remedy of remedies">
                        <div class="card p-2 m-4">
                            <div class="card-body">
                                <h5 class="card-title">{{remedy.name | uppercase}}</h5>
                                <h6 class="card-subtitle mb-2">{{remedy.curesDisease | titlecase}}</h6>
                                <p class="card-text">{{remedy.description}}</p>
                                <p class="card-text badge badge-dark">${{remedy.cost}}</p>
                                <button (click)="addToCart(remedy)" class="btn btn-dark m-1 form-control">Add to
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showRemedyForm">
                    <form class="pt-4" (ngSubmit)="upsertRemedy()">
                        <div class="form-group row">
                            <label for="name" class="col-3 col-form-label">Name</label>
                            <div class="col-9">
                                <input [(ngModel)]="name" type="text" class="form-control" name="name" id="name"
                                    placeholder="Enter fruit, herbs name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="curesDisease" class="col-3 col-form-label">Cure For</label>
                            <div class="col-9">
                                <input [(ngModel)]="curesDisease" type="text" class="form-control" name="curesDisease"
                                    id="curesDisease" placeholder="Enter the disease which will be cured">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">Description</label>
                            <div class="col-9">
                                <input [(ngModel)]="description" type="text" class="form-control" name="description"
                                    id="description" placeholder="Enter description">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cost" class="col-3 col-form-label">Cost</label>
                            <div class="col-9">
                                <input [(ngModel)]="cost" type="number" class="form-control " name="cost" id="cost"
                                    placeholder="Enter cost">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <button type="submit" class="btn btn-dark">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>