/* You can add global styles to this file, and also import other style files */
/* * {
    border: 1px solid red;
} */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.primary-shadow {
    box-shadow: 0 0 45px rgba(0, 0, 0, .3);
}

.secondary-shadow {
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
}